
.projects1 {
    background: none;
    padding: 100px 25px 400px 25px;
    text-align: center;
    position: relative; 
}
h2{
    font-size: 50px;
    display: grid;
    place-content: start;
}
.project-grid p , h4{ 
            width: 100%;
            text-align: left;
            max-width: 300px;
            margin-left: 0;
            padding-left: 20px;
            display: block;
        }
h4{
            font-size: 25px;
}
.project-grid p{
        font-size: 20px;
}

.main-card {
    position: relative;
        background: #fbfbfb33;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.114);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 0 20px #000000;
        padding: 1px;
        margin: 1px auto;
        width: 95%;
        max-width: auto;
        margin-top: 50px;
        color: #fff;
        gap: 5px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background: url(./assets/background1.png);
    font-family: 'Poppins', sans-serif;
    color: #222;
    line-height: 1.6;
    margin: 0%;
}


.decoracion-3d {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    z-index: 1500;
    pointer-events: none;
}

.cubo3d {
    position: relative;
    width: 100px;
    height: 10px;
    transform-style: preserve-3d;
    animation: girar 100s linear infinite;
}

.cara {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(185, 255, 80, 1);
    box-shadow: 0 0 20px rgba(185, 255, 80, 1);
    backdrop-filter: blur(10px);
}

.cara:nth-child(1) {
    transform: rotateY(0deg) translateZ(75px);
}

.cara:nth-child(2) {
    transform: rotateY(90deg) translateZ(75px);
}

.cara:nth-child(3) {
    transform: rotateY(180deg) translateZ(75px);
}

.cara:nth-child(4) {
    transform: rotateY(-90deg) translateZ(75px);
}

.cara:nth-child(5) {
    transform: rotateX(90deg) translateZ(75px);
}

.cara:nth-child(6) {
    transform: rotateX(-90deg) translateZ(75px);
}

.cara .logo {
    font-size: 2.5rem;
    padding-left: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 33, 1) 33%, rgba(252, 111, 51, 1) 52%, rgba(253, 29, 29, 1) 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #000;
    font-weight: 700;
    letter-spacing: 1.5px;

}

@keyframes girar {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}