


.modal-overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 9000;
    opacity: 0;
    transition: opacity 0.35s ease;
}


.modal-overlay:target {
    display: flex;
    opacity: 1;
}


.modal-box {
    width: 90%;
    max-width: 450px;

    background: rgba(255, 255, 255, 0.18);
    border-radius: 22px;
    padding: 32px;

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:
        8px 8px 25px rgba(0, 0, 0, 0.55),
        -8px -8px 25px rgba(255, 255, 255, 0.06);

    animation: modalPop 0.45s ease forwards;
    position: relative;
}

@keyframes modalPop {
    from {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.modal-close {
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 28px;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: 0.2s;
}

.modal-close:hover {
    opacity: 1;
    transform: scale(1.1);
}


.modal-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.modal-form label {
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.modal-form input,
.modal-form textarea {
    margin-top: 8px;
    padding: 12px 14px;
    border-radius: 14px;
    border: none;
    background: rgba(255, 255, 255, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;

    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.4),
        inset -2px -2px 6px rgba(255, 255, 255, 0.1);
    transition: 0.25s ease;
}

.modal-form input:focus,
.modal-form textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(185, 255, 80, 1);
    box-shadow: 0 0 10px rgba(185, 255, 80, 1);
}

.modal-box button {
    width: 100%;
}


.open-modal {
    cursor: pointer;
}